*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }
    body{
    height: 100%;
    width: 100%;
    }
h1{
    text-align: center;
    color: white;
  
}
 

.container{
    background-color: rgb(84 39 39);
    max-width: 400px;
    min-height: 400px;
    margin: 50px auto;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 16px;
}
.input-holder{
    width: 84%;
    font-weight: 700;
    padding: 9px;
    font-size: 50px;
    height: 74px;
    background-color: beige;
    margin: 12px 28px;
    border-radius: 10px;
}


.row1{
    margin: 10px 26px;
    
}
button{
    margin: 5px 3px;
    padding: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
   
}